*{
    margin:0;
    font-family: Arial;
    border:border-box;
    
}

h3{
    color:white;
    font: arial;
    
    
    margin-left: 16px;
    margin-top: 5px;
    
    

}
.box{
    padding:0px;
}
.big{
    background-color: rgb(63, 137, 233);
    height:100px;
    width: 490px;
   
    background-image: url('https://mnregaweb4.nic.in/netnrega/Workers/images/nrega_DIW.jpg');
    background-size: cover;
    
    
    
}
.box2 img{
    height:90px;
    width:120px
    
}


.box2,.big,.box1{
    display:inline-block;
margin-left:3px ;

}
.box1 img{
    height: 130px;
    width:110px;
    background-color: rgb(221, 166, 27);
}
.box1{
    padding-top: px;
    
}

.box4{
    margin-left: 630px;
    text-align: center;
    padding-bottom: 20px;
    
    width: 120px;
    height: 25px;

    
}
.box5{
    display:flex;
   
    background-color: #003366;
    height: 30px;
    a{
        color:blue;
        margin-left: 190px;
        margin-top: 5px;
        font-size: 13px;

    }
    h3{
        font-size: 14px;
    }
    
}
main{
    height: 500px;
    width: 500px;
    background-color:rgb(230, 230, 170) ;
}

button{
    height: 25px;
    width: 30px;
   margin-top: 1px;
    display:inline-block;
    margin-left: 730px;
    background-color: rgb(36, 143, 225);
}
.table1{
    background-color:#003366 ;
}

.table1,.table2, .table3,.table4 {
    text-align: center;
    font-size: 11px;
    padding-top: 2px;
    height: 30px;
    width: 400px;
    margin-left:170px ;
    border:2px solid black;
}

.table2{
    height: 50px;
    .input{
       
        width: 60px;
        margin-bottom: 2px;
        border:2px solid black;
        
        

    }
}
.table3{  
      background-color:#003366 ;
      


}.table4{
    background-color: rgb(244, 254, 251);
    height: 100%;
    td{
        padding: 8px;
            border: 1px solid black;
            font-size: 15px;
            font-weight: bold;
    }

    
    
}
.button0{
    display:inline-block
    

}
.button2{
    display:inline-block;
    width: 150px;;
    background-color: #003366;
    margin-left: 200px;
    margin-top: 25px;
    color: rgb(237, 247, 255);
    font-family: Arial;
    font-size: 15px;
    
}.button3{
    display:inline-block;

    width: 200px;;
    background-color: #003366;
    margin-left: 200px;
    margin-top: 25px;
    color: rgb(237, 247, 255);
    font-family: Arial;
    font-size: 15px;

}



